multi-llm-deliberation.json
{
  "name": "Multi-LLM Deliberation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Multi-LLM Deliberation",
        "formDescription": "Submit a draft prompt for Author–Critic–Moderator deliberation.",
        "responseMode": "lastNode",
        "formFields": {
          "values": [
            {
              "fieldLabel": "draft_prompt",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "extra_context",
              "fieldType": "textarea",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "id": "3d8b4e2a-f1c5-4a89-b2d7-c6e8f9a0b3d1",
      "name": "Trigger: Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "multi-llm-deliberation-form-v1",
      "notes": "Entry point. draft_prompt is required; extra_context is optional. responseMode=lastNode returns Code: Final Output as the form response."
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "REPLACE_WITH_ENV_TABLE_ID"
        },
        "returnAll": true
      },
      "id": "7c2f1e4b-a3d6-4b78-9e1c-2d5f8a7b0e4c",
      "name": "n8n Table: Load Env Vars",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [400, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Loads all rows from the shared EnvironmentVariables table. Replace REPLACE_WITH_ENV_TABLE_ID with the actual table UUID post-import."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst cfg = {};\nfor (const item of items) {\n  const name = (item.json.Name ?? '').trim();\n  const value = item.json.Value;\n  if (name && value != null && value !== '') {\n    cfg[name] = value;\n  }\n}\nconst requiredKeys = [\n  'Anthropic_ApiKey', 'OpenAI_ApiKey', 'Gemini_ApiKey',\n  'Author_Model', 'Critic_Model', 'Moderator_Model',\n  'Author_Thinking_Budget', 'Critic_Reasoning_Effort',\n  'prompt_moderator_refiner', 'prompt_author', 'prompt_critic', 'prompt_moderator_validator',\n  'Pass_Threshold', 'Max_Critique_Passes',\n  'LogFolderId'\n];\nfor (const key of requiredKeys) {\n  if (!cfg[key]) {\n    throw new Error('[Build Config] Missing required key: ' + key + '. Add it to EnvironmentVariables table.');\n  }\n}\nreturn [{ json: cfg }];"
      },
      "id": "c3d4e5f6-a1b2-4c3d-ae4f-5a6b7c8d9e0f",
      "name": "Code: Build Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Builds flat Name→Value map from EnvironmentVariables rows. Validates all 15 required keys. Access values as: $('Code: Build Config').first().json.KeyName"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Code: Build Config').first().json;\nconst triggerData = $('Trigger: Form').first().json;\n\nconst draftPrompt = String(triggerData.draft_prompt || '').trim();\nconst extraContext = String(triggerData.extra_context || '').trim();\n\nif (!draftPrompt) {\n  throw new Error('[Build Refiner Payload] draft_prompt is required but was empty.');\n}\n\nconst userText = extraContext\n  ? 'Draft prompt:\\n' + draftPrompt + '\\n\\nExtra context:\\n' + extraContext\n  : 'Draft prompt:\\n' + draftPrompt;\n\nreturn [{\n  json: {\n    draft_prompt: draftPrompt,\n    extra_context: extraContext,\n    gemini_payload: {\n      system_instruction: { parts: [{ text: cfg.prompt_moderator_refiner }] },\n      contents: [{ role: 'user', parts: [{ text: userText }] }],\n      generationConfig: {\n        responseMimeType: 'application/json',\n        temperature: 0.2\n      }\n    }\n  }\n}];"
      },
      "id": "d4e5f6a1-b2c3-4d4e-bf5a-6b7c8d9e0f1a",
      "name": "Code: Build Refiner Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Assembles Gemini request for prompt_moderator_refiner. Reads trigger data directly from Trigger: Form; config from Build Config."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{$('Code: Build Config').first().json.Moderator_Model}}:generateContent?key={{$('Code: Build Config').first().json.Gemini_ApiKey}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.gemini_payload) }}",
        "options": {}
      },
      "id": "e5f6a1b2-c3d4-4e5f-c06b-7c8d9e0f1a2b",
      "name": "HTTP: Moderate Refine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 0],
      "settings": { "onError": "continueRegularOutput" },
      "notes": "Calls Gemini to convert draft_prompt into a RACE-structured refined_prompt and scoring rubric. temperature=0.2 enforced in payload."
    },
    {
      "parameters": {
        "jsCode": "function extractGeminiText(httpItem) {\n  const parts = (httpItem && httpItem.candidates && httpItem.candidates[0] &&\n    httpItem.candidates[0].content && httpItem.candidates[0].content.parts) || [];\n  return parts.map(function(p) { return String(p.text || ''); }).join('\\n');\n}\n\nfunction parseJsonObject(rawText) {\n  if (!rawText) { throw new Error('Empty response text'); }\n  const cleaned = String(rawText).trim()\n    .replace(/^```[\\w-]*[\\r\\n]+/, '')\n    .replace(/[\\r\\n]+```$/, '')\n    .trim();\n  try {\n    return JSON.parse(cleaned);\n  } catch (err) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) { throw err; }\n    return JSON.parse(match[0]);\n  }\n}\n\nconst httpItem = items[0].json;\nconst buildData = $('Code: Build Refiner Payload').first().json;\n\nlet parsed;\ntry {\n  parsed = parseJsonObject(extractGeminiText(httpItem));\n} catch (err) {\n  throw new Error('[Parse Refined Prompt] Failed to parse Gemini refiner response: ' + err.message);\n}\n\nif (!parsed.refined_prompt) {\n  throw new Error('[Parse Refined Prompt] Missing refined_prompt in Gemini response.');\n}\nif (!Array.isArray(parsed.rubric) || parsed.rubric.length === 0) {\n  throw new Error('[Parse Refined Prompt] Missing or empty rubric in Gemini response.');\n}\n\nreturn [{\n  json: {\n    draft_prompt: buildData.draft_prompt,\n    extra_context: buildData.extra_context,\n    refined_prompt: String(parsed.refined_prompt),\n    rubric: parsed.rubric,\n    retry_count: 0,\n    latest_author_output: null,\n    iterations: []\n  }\n}];"
      },
      "id": "f6a1b2c3-d4e5-4f6a-d17c-8d9e0f1a2b3c",
      "name": "Code: Parse Refined Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Extracts refined_prompt and rubric from Gemini. Initialises pipeline state: retry_count=0, latest_author_output=null, iterations=[]."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Code: Build Config').first().json;\nconst state = items[0].json;\n\nconst thinkingBudget = Number(cfg.Author_Thinking_Budget);\nconst maxTokens = thinkingBudget + 4096;\n\nconst userText = state.extra_context\n  ? 'Prompt:\\n' + state.refined_prompt + '\\n\\nExtra context:\\n' + state.extra_context\n  : 'Prompt:\\n' + state.refined_prompt;\n\nreturn [{\n  json: {\n    draft_prompt: state.draft_prompt,\n    extra_context: state.extra_context,\n    refined_prompt: state.refined_prompt,\n    rubric: state.rubric,\n    retry_count: state.retry_count,\n    latest_author_output: state.latest_author_output,\n    iterations: state.iterations,\n    anthropic_payload: {\n      model: cfg.Author_Model,\n      max_tokens: maxTokens,\n      thinking: { type: 'enabled', budget_tokens: thinkingBudget },\n      system: cfg.prompt_author,\n      messages: [{ role: 'user', content: userText }]\n    }\n  }\n}];"
      },
      "id": "a7b8c9d0-e1f2-4a7b-e28d-9e0f1a2b3c4d",
      "name": "Code: Build Author v1 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Assembles Anthropic request for the initial Author draft. max_tokens = Author_Thinking_Budget + 4096 per spec; extended thinking enabled."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $('Code: Build Config').first().json.Anthropic_ApiKey }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.anthropic_payload) }}",
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4b8c-f39e-0f1a2b3c4d5e",
      "name": "HTTP: Author v1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 0],
      "settings": { "onError": "continueRegularOutput" },
      "notes": "Calls Claude Opus (Author_Model) with extended thinking for the initial draft. x-api-key header required; anthropic-version required."
    },
    {
      "parameters": {
        "jsCode": "function extractAnthropicText(httpItem) {\n  const contentArr = Array.isArray(httpItem.content) ? httpItem.content : [];\n  const text = contentArr\n    .filter(function(block) { return block && block.type === 'text'; })\n    .map(function(block) { return String(block.text || ''); })\n    .join('\\n')\n    .trim();\n  return text || String(httpItem.output_text || httpItem.completion || '');\n}\n\nconst httpItem = items[0].json;\nconst buildData = $('Code: Build Author v1 Payload').first().json;\n\nconst contentArr = Array.isArray(httpItem.content) ? httpItem.content : [];\nconst thinkingBlocks = contentArr.filter(function(block) { return block && block.type === 'thinking'; });\nconst authorText = extractAnthropicText(httpItem);\n\nif (!authorText) {\n  throw new Error('[Parse Author v1] Empty text response from Author v1.');\n}\n\nreturn [{\n  json: {\n    draft_prompt: buildData.draft_prompt,\n    extra_context: buildData.extra_context,\n    refined_prompt: buildData.refined_prompt,\n    rubric: buildData.rubric,\n    retry_count: buildData.retry_count,\n    latest_author_output: authorText,\n    author_thinking_current: thinkingBlocks,\n    iterations: buildData.iterations\n  }\n}];"
      },
      "id": "c9d0e1f2-a3b4-4c9d-a49f-1a2b3c4d5e6f",
      "name": "Code: Parse Author v1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Extracts concatenated text blocks into latest_author_output. Thinking blocks stored in author_thinking_current for trace only; they never enter downstream model calls."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-4d0e-a51a-2b3c4d5e6f7a",
      "name": "Merge: Critic Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3600, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Loop entry point. Input 0: Code: Parse Author v1 (first pass). Input 1: Code: Increment Retry (subsequent passes). N8N loop detection fires this node when either input is active."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Code: Build Config').first().json;\nconst state = items[0].json;\n\nconst userText = 'Refined prompt:\\n' + state.refined_prompt +\n  '\\n\\nAuthor output:\\n' + state.latest_author_output;\n\nreturn [{\n  json: {\n    draft_prompt: state.draft_prompt,\n    extra_context: state.extra_context,\n    refined_prompt: state.refined_prompt,\n    rubric: state.rubric,\n    retry_count: state.retry_count,\n    latest_author_output: state.latest_author_output,\n    author_thinking_current: state.author_thinking_current || [],\n    iterations: state.iterations || [],\n    openai_payload: {\n      model: cfg.Critic_Model,\n      reasoning_effort: cfg.Critic_Reasoning_Effort,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: cfg.prompt_critic },\n        { role: 'user', content: userText }\n      ]\n    }\n  }\n}];"
      },
      "id": "e1f2a3b4-c5d6-4e1f-a62b-3c4d5e6f7a8b",
      "name": "Code: Build Critic Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4000, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Assembles OpenAI request for Critic_Model. author_thinking_current is carried in state but never inserted into the user message, keeping thinking blocks out of downstream calls."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Code: Build Config').first().json.OpenAI_ApiKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.openai_payload) }}",
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-4f2a-a73c-4d5e6f7a8b9c",
      "name": "HTTP: Critic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4400, 0],
      "settings": { "onError": "continueRegularOutput" },
      "notes": "Calls Critic_Model (ChatGPT) with reasoning_effort and json_object response_format. Returns structured critique JSON."
    },
    {
      "parameters": {
        "jsCode": "function extractOpenAIText(httpItem) {\n  return String((httpItem && httpItem.choices && httpItem.choices[0] &&\n    httpItem.choices[0].message && httpItem.choices[0].message.content) || '');\n}\n\nfunction parseJsonObject(rawText) {\n  if (!rawText) { throw new Error('Empty response text'); }\n  const cleaned = String(rawText).trim()\n    .replace(/^```[\\w-]*[\\r\\n]+/, '')\n    .replace(/[\\r\\n]+```$/, '')\n    .trim();\n  try {\n    return JSON.parse(cleaned);\n  } catch (err) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) { throw err; }\n    return JSON.parse(match[0]);\n  }\n}\n\nconst httpItem = items[0].json;\nconst buildData = $('Code: Build Critic Payload').first().json;\n\nlet criticJson;\ntry {\n  criticJson = parseJsonObject(extractOpenAIText(httpItem));\n} catch (err) {\n  throw new Error('[Parse Critic Response] Failed to parse Critic response: ' + err.message);\n}\n\nreturn [{\n  json: {\n    draft_prompt: buildData.draft_prompt,\n    extra_context: buildData.extra_context,\n    refined_prompt: buildData.refined_prompt,\n    rubric: buildData.rubric,\n    retry_count: buildData.retry_count,\n    latest_author_output: buildData.latest_author_output,\n    author_thinking_current: buildData.author_thinking_current,\n    iterations: buildData.iterations,\n    critic_json: criticJson\n  }\n}];"
      },
      "id": "a3b4c5d6-e7f8-4a3b-a84d-5e6f7a8b9c0d",
      "name": "Code: Parse Critic Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4800, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Parses Critic JSON (strengths, weaknesses, suggested_revisions). Full state carried forward via Build Critic Payload reference."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Code: Build Config').first().json;\nconst state = items[0].json;\n\nconst thinkingBudget = Number(cfg.Author_Thinking_Budget);\nconst maxTokens = thinkingBudget + 4096;\n\nconst userText = 'Refined prompt:\\n' + state.refined_prompt +\n  '\\n\\nPrevious author output:\\n' + state.latest_author_output +\n  '\\n\\nCritic feedback:\\n' + JSON.stringify(state.critic_json, null, 2) +\n  '\\n\\nInstruction: Produce the revised version. Address each item in suggested_revisions explicitly. Preserve the strengths identified.';\n\nreturn [{\n  json: {\n    draft_prompt: state.draft_prompt,\n    extra_context: state.extra_context,\n    refined_prompt: state.refined_prompt,\n    rubric: state.rubric,\n    retry_count: state.retry_count,\n    latest_author_output: state.latest_author_output,\n    author_thinking_current: state.author_thinking_current,\n    iterations: state.iterations,\n    critic_json: state.critic_json,\n    anthropic_payload: {\n      model: cfg.Author_Model,\n      max_tokens: maxTokens,\n      thinking: { type: 'enabled', budget_tokens: thinkingBudget },\n      system: cfg.prompt_author,\n      messages: [{ role: 'user', content: userText }]\n    }\n  }\n}];"
      },
      "id": "b4c5d6e7-f8a9-4b4c-a95e-6f7a8b9c0d1e",
      "name": "Code: Build Author Revision Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5200, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Assembles Anthropic revision request. User message includes refined_prompt, previous author output, critic JSON, and the explicit revision instruction from the spec."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $('Code: Build Config').first().json.Anthropic_ApiKey }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.anthropic_payload) }}",
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-4c5d-aa6f-7a8b9c0d1e2f",
      "name": "HTTP: Author Revision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5600, 0],
      "settings": { "onError": "continueRegularOutput" },
      "notes": "Calls Claude Opus (Author_Model) with extended thinking to produce the revised draft addressing the Critic's suggested_revisions."
    },
    {
      "parameters": {
        "jsCode": "function extractAnthropicText(httpItem) {\n  const contentArr = Array.isArray(httpItem.content) ? httpItem.content : [];\n  const text = contentArr\n    .filter(function(block) { return block && block.type === 'text'; })\n    .map(function(block) { return String(block.text || ''); })\n    .join('\\n')\n    .trim();\n  return text || String(httpItem.output_text || httpItem.completion || '');\n}\n\nconst httpItem = items[0].json;\nconst buildData = $('Code: Build Author Revision Payload').first().json;\n\nconst contentArr = Array.isArray(httpItem.content) ? httpItem.content : [];\nconst thinkingBlocks = contentArr.filter(function(block) { return block && block.type === 'thinking'; });\nconst revisedText = extractAnthropicText(httpItem);\n\nif (!revisedText) {\n  throw new Error('[Parse Author Revision] Empty text response from Author revision.');\n}\n\nreturn [{\n  json: {\n    draft_prompt: buildData.draft_prompt,\n    extra_context: buildData.extra_context,\n    refined_prompt: buildData.refined_prompt,\n    rubric: buildData.rubric,\n    retry_count: buildData.retry_count,\n    latest_author_output: revisedText,\n    author_thinking_current: thinkingBlocks,\n    iterations: buildData.iterations,\n    critic_json: buildData.critic_json\n  }\n}];"
      },
      "id": "d6e7f8a9-b0c1-4d6e-ab7a-8b9c0d1e2f3a",
      "name": "Code: Parse Author Revision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6000, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Updates latest_author_output with the revised text. Replaces author_thinking_current with this revision's thinking blocks. critic_json carried forward for the iteration trace entry."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Code: Build Config').first().json;\nconst state = items[0].json;\n\nconst userText = 'Refined prompt:\\n' + state.refined_prompt +\n  '\\n\\nRubric:\\n' + JSON.stringify(state.rubric, null, 2) +\n  '\\n\\nAuthor output to validate:\\n' + state.latest_author_output;\n\nreturn [{\n  json: {\n    draft_prompt: state.draft_prompt,\n    extra_context: state.extra_context,\n    refined_prompt: state.refined_prompt,\n    rubric: state.rubric,\n    retry_count: state.retry_count,\n    latest_author_output: state.latest_author_output,\n    author_thinking_current: state.author_thinking_current,\n    iterations: state.iterations,\n    critic_json: state.critic_json,\n    gemini_payload: {\n      system_instruction: { parts: [{ text: cfg.prompt_moderator_validator }] },\n      contents: [{ role: 'user', parts: [{ text: userText }] }],\n      generationConfig: {\n        responseMimeType: 'application/json',\n        temperature: 0.2\n      }\n    }\n  }\n}];"
      },
      "id": "e7f8a9b0-c1d2-4e7f-ac8b-9c0d1e2f3a4b",
      "name": "Code: Build Validator Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6400, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Assembles Gemini request for prompt_moderator_validator. Passes refined_prompt, rubric, and latest_author_output for per-criterion scoring."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{$('Code: Build Config').first().json.Moderator_Model}}:generateContent?key={{$('Code: Build Config').first().json.Gemini_ApiKey}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.gemini_payload) }}",
        "options": {}
      },
      "id": "f8a9b0c1-d2e3-4f8a-ad9c-0d1e2f3a4b5c",
      "name": "HTTP: Validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6800, 0],
      "settings": { "onError": "continueRegularOutput" },
      "notes": "Calls Gemini (Moderator_Model) to score the revised author output against the rubric. Returns per_criterion scores, overall_score, verdict, and recommendation."
    },
    {
      "parameters": {
        "jsCode": "function extractGeminiText(httpItem) {\n  const parts = (httpItem && httpItem.candidates && httpItem.candidates[0] &&\n    httpItem.candidates[0].content && httpItem.candidates[0].content.parts) || [];\n  return parts.map(function(p) { return String(p.text || ''); }).join('\\n');\n}\n\nfunction parseJsonObject(rawText) {\n  if (!rawText) { throw new Error('Empty response text'); }\n  const cleaned = String(rawText).trim()\n    .replace(/^```[\\w-]*[\\r\\n]+/, '')\n    .replace(/[\\r\\n]+```$/, '')\n    .trim();\n  try {\n    return JSON.parse(cleaned);\n  } catch (err) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) { throw err; }\n    return JSON.parse(match[0]);\n  }\n}\n\nconst httpItem = items[0].json;\nconst buildData = $('Code: Build Validator Payload').first().json;\n\nlet validatorJson;\ntry {\n  validatorJson = parseJsonObject(extractGeminiText(httpItem));\n} catch (err) {\n  throw new Error('[Parse Validator Response] Failed to parse Gemini validator response: ' + err.message);\n}\n\nconst overallScore = Number(validatorJson.overall_score) || 0;\n\nconst iterationEntry = {\n  iteration: buildData.retry_count,\n  author_output: buildData.latest_author_output,\n  author_thinking: buildData.author_thinking_current,\n  critic_json: buildData.critic_json,\n  validator_json: validatorJson\n};\n\nconst updatedIterations = (buildData.iterations || []).concat([iterationEntry]);\n\nreturn [{\n  json: {\n    draft_prompt: buildData.draft_prompt,\n    extra_context: buildData.extra_context,\n    refined_prompt: buildData.refined_prompt,\n    rubric: buildData.rubric,\n    retry_count: buildData.retry_count,\n    latest_author_output: buildData.latest_author_output,\n    author_thinking_current: buildData.author_thinking_current,\n    iterations: updatedIterations,\n    validator_json: validatorJson,\n    overall_score: overallScore\n  }\n}];"
      },
      "id": "a9b0c1d2-e3f4-4a9b-ae0d-1e2f3a4b5c6d",
      "name": "Code: Parse Validator Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7200, 0],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Parses validator JSON and appends a complete iteration entry (author_output, author_thinking, critic_json, validator_json) to iterations[]. overall_score drives the downstream IF gate."
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-pass-threshold",
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": "={{ Number($('Code: Build Config').first().json.Pass_Threshold) }}",
              "operator": { "type": "number", "operation": "gte" }
            }
          ]
        },
        "options": {}
      },
      "id": "b0c1d2e3-f4a5-4b0c-af1e-2f3a4b5c6d7e",
      "name": "IF: Pass Threshold Met",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [7600, 0],
      "notes": "True: overall_score >= Pass_Threshold → proceed to Build Trace with PASS. False: check retry eligibility."
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-retry-eligible",
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": "={{ Number($('Code: Build Config').first().json.Max_Critique_Passes) - 1 }}",
              "operator": { "type": "number", "operation": "lt" }
            }
          ]
        },
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-4c1d-b02f-3a4b5c6d7e8f",
      "name": "IF: Retry Eligible",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [8000, 200],
      "notes": "True: retry_count < Max_Critique_Passes - 1 → increment and loop back to Critic. False: max passes reached, proceed to Build Trace with FAIL verdict."
    },
    {
      "parameters": {
        "jsCode": "const state = items[0].json;\nreturn [{\n  json: {\n    draft_prompt: state.draft_prompt,\n    extra_context: state.extra_context,\n    refined_prompt: state.refined_prompt,\n    rubric: state.rubric,\n    retry_count: (state.retry_count || 0) + 1,\n    latest_author_output: state.latest_author_output,\n    author_thinking_current: state.author_thinking_current || [],\n    iterations: state.iterations || []\n  }\n}];"
      },
      "id": "d2e3f4a5-b6c7-4d2e-b13a-4b5c6d7e8f9a",
      "name": "Code: Increment Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8400, 200],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Increments retry_count by 1. Output connects to Merge: Critic Inputs input 1, re-entering the Critic stage with the updated count and accumulated state."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Code: Build Config').first().json;\nconst state = items[0].json;\n\nconst ts = new Date().toISOString();\nconst filename = 'deliberation_' + ts.replace(/[:.]/g, '-') + '.json';\n\nconst trace = {\n  timestamp: ts,\n  input: {\n    draft_prompt: state.draft_prompt,\n    extra_context: state.extra_context || ''\n  },\n  refined_prompt: state.refined_prompt,\n  rubric: state.rubric,\n  iterations: state.iterations || [],\n  final_output: state.latest_author_output,\n  final_verdict: (state.validator_json && state.validator_json.verdict)\n    ? state.validator_json.verdict\n    : 'UNKNOWN',\n  retry_count: state.retry_count || 0,\n  models_used: {\n    author: cfg.Author_Model,\n    critic: cfg.Critic_Model,\n    moderator: cfg.Moderator_Model\n  }\n};\n\nconst traceJson = JSON.stringify(trace, null, 2);\nconst buffer = Buffer.from(traceJson, 'utf8');\n\nreturn [{\n  json: {\n    trace_filename: filename,\n    latest_author_output: state.latest_author_output,\n    validator_json: state.validator_json || {},\n    retry_count: state.retry_count || 0\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename,\n      fileExtension: 'json'\n    }\n  }\n}];"
      },
      "id": "e3f4a5b6-c7d8-4e3f-b24b-5c6d7e8f9a0b",
      "name": "Code: Build Trace",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8000, -200],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Assembles full trace JSON per spec (timestamp, input, refined_prompt, rubric, iterations[], final_output, final_verdict, retry_count, models_used). Filename: deliberation_<ISO>.json."
    },
    {
      "parameters": {
        "name": "={{ $json.trace_filename }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Code: Build Config').first().json.LogFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "f4a5b6c7-d8e9-4f4a-b35c-6d7e8f9a0b1c",
      "name": "Drive: Upload Trace",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [8400, -200],
      "settings": { "onError": "stopWorkflow" },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      },
      "notes": "Uploads the deliberation trace JSON to LogFolderId. onError=stopWorkflow: logging failure is a hard stop, not a soft error."
    },
    {
      "parameters": {
        "jsCode": "const traceData = $('Code: Build Trace').first().json;\nconst validatorJson = traceData.validator_json || {};\n\nreturn [{\n  json: {\n    status: String(validatorJson.verdict || 'UNKNOWN'),\n    final_output: traceData.latest_author_output,\n    validator_summary: {\n      overall_score: Number(validatorJson.overall_score) || 0,\n      verdict: String(validatorJson.verdict || 'UNKNOWN'),\n      recommendation: String(validatorJson.recommendation || '')\n    },\n    retry_count: traceData.retry_count || 0\n  }\n}];"
      },
      "id": "a5b6c7d8-e9f0-4a5b-b46d-7e8f9a0b1c2d",
      "name": "Code: Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8800, -200],
      "settings": { "onError": "stopWorkflow" },
      "notes": "Shapes the form response: status (validator verdict string), final_output, validator_summary, retry_count. This is the last node; formTrigger returns its $json as the response body."
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger: Form": {
      "main": [[{ "node": "n8n Table: Load Env Vars", "type": "main", "index": 0 }]]
    },
    "n8n Table: Load Env Vars": {
      "main": [[{ "node": "Code: Build Config", "type": "main", "index": 0 }]]
    },
    "Code: Build Config": {
      "main": [[{ "node": "Code: Build Refiner Payload", "type": "main", "index": 0 }]]
    },
    "Code: Build Refiner Payload": {
      "main": [[{ "node": "HTTP: Moderate Refine", "type": "main", "index": 0 }]]
    },
    "HTTP: Moderate Refine": {
      "main": [[{ "node": "Code: Parse Refined Prompt", "type": "main", "index": 0 }]]
    },
    "Code: Parse Refined Prompt": {
      "main": [[{ "node": "Code: Build Author v1 Payload", "type": "main", "index": 0 }]]
    },
    "Code: Build Author v1 Payload": {
      "main": [[{ "node": "HTTP: Author v1", "type": "main", "index": 0 }]]
    },
    "HTTP: Author v1": {
      "main": [[{ "node": "Code: Parse Author v1", "type": "main", "index": 0 }]]
    },
    "Code: Parse Author v1": {
      "main": [[{ "node": "Merge: Critic Inputs", "type": "main", "index": 0 }]]
    },
    "Code: Increment Retry": {
      "main": [[{ "node": "Merge: Critic Inputs", "type": "main", "index": 1 }]]
    },
    "Merge: Critic Inputs": {
      "main": [[{ "node": "Code: Build Critic Payload", "type": "main", "index": 0 }]]
    },
    "Code: Build Critic Payload": {
      "main": [[{ "node": "HTTP: Critic", "type": "main", "index": 0 }]]
    },
    "HTTP: Critic": {
      "main": [[{ "node": "Code: Parse Critic Response", "type": "main", "index": 0 }]]
    },
    "Code: Parse Critic Response": {
      "main": [[{ "node": "Code: Build Author Revision Payload", "type": "main", "index": 0 }]]
    },
    "Code: Build Author Revision Payload": {
      "main": [[{ "node": "HTTP: Author Revision", "type": "main", "index": 0 }]]
    },
    "HTTP: Author Revision": {
      "main": [[{ "node": "Code: Parse Author Revision", "type": "main", "index": 0 }]]
    },
    "Code: Parse Author Revision": {
      "main": [[{ "node": "Code: Build Validator Payload", "type": "main", "index": 0 }]]
    },
    "Code: Build Validator Payload": {
      "main": [[{ "node": "HTTP: Validate", "type": "main", "index": 0 }]]
    },
    "HTTP: Validate": {
      "main": [[{ "node": "Code: Parse Validator Response", "type": "main", "index": 0 }]]
    },
    "Code: Parse Validator Response": {
      "main": [[{ "node": "IF: Pass Threshold Met", "type": "main", "index": 0 }]]
    },
    "IF: Pass Threshold Met": {
      "main": [
        [{ "node": "Code: Build Trace", "type": "main", "index": 0 }],
        [{ "node": "IF: Retry Eligible", "type": "main", "index": 0 }]
      ]
    },
    "IF: Retry Eligible": {
      "main": [
        [{ "node": "Code: Increment Retry", "type": "main", "index": 0 }],
        [{ "node": "Code: Build Trace", "type": "main", "index": 0 }]
      ]
    },
    "Code: Build Trace": {
      "main": [[{ "node": "Drive: Upload Trace", "type": "main", "index": 0 }]]
    },
    "Drive: Upload Trace": {
      "main": [[{ "node": "Code: Final Output", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b3c4d5e6-f7a8-4b3c-9d4e-5f6a7b8c9d0e",
  "meta": {
    "instanceId": "0000000000000000000000000000000000000000000000000000000000000000"
  },
  "id": "MultiLLMDeliberation01",
  "tags": []
}
